.memory {
    height: calc(100dvh - 38px); // 38px is height of header
    width: 430px;
    @include center(column);
    justify-content: flex-start;
    background-color: $mainBackground;
    border-left: 1px solid $borderColor;

    .memory-matrix-holder {
        height: calc(100dvh - 38px - 27px); // 38px (header height) + 27px (memory-header height)
        width: 100%;
        @include center(column);
        position: relative;
        
        @import "./memory-matrix";
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .memory {
        height: 150px;
        position: absolute;
        bottom: 0;
        z-index: 3;

        .memory-matrix-holder {
            height: calc(100% - 27px);
        }
    }
}