.memory {
    height: calc(100dvh - 38px); // 38px is height of header
    width: 430px;
    @include center(column);
    justify-content: flex-start;
    background-color: $mainBackground;
    border-top: 1px solid #2F3336;
    border-left: 1px solid #2F3336;

    .memory-header {
        height: 27px;
        width: 100%;
        @include center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $primaryBackground;
        border-bottom: 1px solid #2F3336;
        padding: 0 12px;

        strong {
            color: $primaryText;
            font-size: 14px;
            font-family: Roboto-SemiBold;
            font-weight: normal;
        }

        button {
            color: $primaryText;
            font-size: 12px;
            font-family: Roboto-Regular;
            background-color: transparent;
            border: 1px solid #F4F4F4;
            border-radius: 5px;
            padding: 3px 12px;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: $blue;
                border: 1px solid transparent;
            }
        }

        .memory-header-split-button-active {
            background-color: $blue;
            border: 1px solid transparent;
        }
    }

    .memory-matrix-holder {
        height: calc(100dvh - 38px - 27px); // 38px (header height) + 27px (memory-header height)
        width: 100%;
        @include center(column);
        position: relative;
        
        @import "./memory-matrix";
    }
}

@media screen and (max-width: 1300px) {
    .memory {
        height: 150px;
        z-index: 3;

        .memory-matrix-holder {
            height: calc(150px - 27px);
        }
    }
}