.memory-map {
    height: 100%;
    width: 100%;
    @include center(column);

    // In case MemoryMap is spllited.
    &:nth-child(2) {
        border-top: 1px solid #2F3336;
    }

    .memory-map-columns {
        height: 20px;
        width: 100%;
        @include center;
        justify-content: flex-start;
        border-bottom: 1px solid #2F3336;

        p {
            height: 20px;
            width: 24px;
            @include center;
            color: #D8D8D8;
            font-size: 13px;
            font-family: Roboto-Medium;
            border-left: 1px solid #2F3336;
            padding: 5px;

            &:first-child {
                width: 28px;
                border-left: none;
            }

            &:last-child {
                border-right: 1px solid #2F3336;
            }
        }
    }

    .memory-map-content {
        height: calc(100dvh - 38px - 27px - 20px); // 38px (header height) + 27px (memory-header height) + 20px (memory-map-columns height)
        width: 100%;
        @include center;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;

        .memory-map-rows {
            @include center(column);

            p {
                height: 20px;
                width: 28px;
                @include center;
                color: #D8D8D8;
                font-size: 13px;
                font-family: Roboto-Regular;
                padding: 5px;
            }
        }

        .memory-map-matrix {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(16, 1fr);

            .memory-map-matrix-element {
                height: 20px;
                width: 24px;
                @include center;
                color: #D4D4D4;
                font-size: 14px;
                font-family: SourceCodePro-Regular;
                border-left: 1px solid #2F3336;
                padding: 5px;

                &:last-child {
                    border-right: 1px solid #2F3336;
                }
            }

            .memory-map-matrix-element-stack-pointer {
                background-color: $spColor;
            }

            .memory-map-matrix-element-stack {
                color: black;
                background-color: $spLightColor;
            }
            
            .memory-map-matrix-element-instruction-pointer {
                background-color: $ipColor;
            }

            .memory-map-matrix-element-instruction {
                color: black;
                background-color: $ipLightColor;
            }

            .memory-map-matrix-element-display {
                background-color: #0F0F0F;
            }
        }
    }
}