.hardware {
    height: calc(100dvh - 38px); // 38px is height of header
    width: 430px;
    @include center(column);
    flex-shrink: 0;
    justify-content: flex-start;
    border-left: 1px solid $borderColor;

    .hardware-content {
        height: 100%;
        width: 100%;
        @include center(column);
        justify-content: flex-start;
        position: relative;

        @import "./signature";
        @import "./io-devices";
        @import "./cpu-registers/main";
        @import "./io-registers/main";
    }
}

@media screen and (max-width: 900px) {
    .hardware {
        height: 100dvh;
        width: 100vw;
        border-left: none;

        .hardware-content {
            height: calc(100% - 38px);
        }
    }
}