.signature {
    height: 100%;
    width: 100%;
    @include center(column);
    gap: 7px;

    .signature-logo {
        height: 80px;
        width: 130px;
        color: $textDisplayBackground;
        object-fit: contain;
        margin-bottom: 10px;
    }

    strong {
        color: $textDisplayBackground;
        font-size: 26px;
        font-family: SourceCodePro-Regular;
        font-weight: normal;
    }

    p {
        color: $textDisplayBackground;
        font-size: 18px;
        font-family: SourceCodePro-Regular;
    }
}