.cpu-registers {
    height: 295px;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    background-color: $mainBackground;
    position: absolute;
    bottom: 0;
    z-index: 1;

    .cpu-registers-content {
        height: 100%;
        width: 100%;
        @include center(column);
        justify-content: flex-start;
        gap: 7px;
        position: relative;
        padding: 10px 0;
        overflow-x: hidden;
        overflow-y: auto;

        .cpu-registers-row {
            width: 100%;
            @include center;
            justify-content: flex-start;
            gap: 18px;
            padding: 0 12px;

            @import "./cpu-register";
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .cpu-registers {
        height: calc(295px + 150px);
    }
}

@media screen and (max-width: 900px) {
    .cpu-registers .cpu-registers-content {
        @include no-scrollbar;
    }
}