.display {
    height: 100%;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    .display-buttons {
        width: 235px;
        @include center(column);
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        top: 50%;
        left: calc(50% - 256px - 30px); // center - half of canvas - gap
        transform: translate(-100%, -50%);
        z-index: 1;

        .assembler-button {
            @include center;
            gap: 12px;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px;
            transition: 300ms;

            &:hover {
                background-color: $blue;
            }

            .assembler-button-icon {
                height: 32px;
                width: 32px;
                object-fit: contain;
            }

            p {
                color: $primaryText;
                font-size: 24px;
            }
        }
    }

    .display-canvas-holder {
        @include center;
        position: relative;

        canvas {
            height: 256px;
            width: 256px;
            background-color: black;
            border: 1px solid $borderColor;
        }

        strong {
            color: #F4F4F4;
            font-size: 36px;
            font-family: SourceCodePro-Regular;
            font-weight: normal;
            text-align: center;
            position: absolute;
            opacity: 1;
            transition: 300ms;
        }
    }

    .display-text-display {
        width: 256px;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        gap: 3px;

        .display-text-display-element {
            height: 17px;
            width: 13px;
            @include center;
            color: $secondaryText;
            font-size: 16px;
            font-family: SourceCodePro-Regular;
            background-color: $textDisplayBackground;
        }
    }

    .display-keyboard {
        width: 256px;
        @include center;
        justify-content: space-between;
        background-color: transparent;
        border: 1px solid $borderColor;
        border-radius: 5px;
        outline: none;
        padding: 5px 12px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            border: 1px solid $blue;
        }

        .display-keyboard-left-group {
            @include center;
            gap: 8px;

            .display-keyboard-icon-holder {
                @include center;
                position: relative;

                .display-keyboard-icon {
                    transition: 300ms;
                }
            }
        }

        p {
            color: $primaryText;
            font-size: 14px;
            font-family: SourceCodePro-Regular;
        }

        .display-keyboard-key {
            opacity: 0;
            transition: 300ms;
        }
    }

    .display-keyboard-active {
        border: 1px solid $blue;
    }
}

@media screen and (max-width: 900px) {
    .display {
        @include no-scrollbar;
    }
}