.draggable-header {
    height: 27px;
    width: 100%;
    @include center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: $primaryBackground;
    border-top: 1px solid #2F3336;
    border-bottom: 1px solid #2F3336;
    padding: 0 12px;
    cursor: ns-resize;

    strong {
        color: $primaryText;
        font-size: 14px;
        font-family: Roboto-SemiBold;
        font-weight: normal;
    }
}