.draggable-header {
    height: 27px;
    width: 100%;
    @include center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: $primaryBackground;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 0 12px;
    cursor: ns-resize;
    touch-action: none;
    z-index: 1;

    strong {
        color: $primaryText;
        font-size: 14px;
        font-family: Roboto-SemiBold;
        font-weight: normal;
    }
}

.draggable-header-disabled {
    cursor: default;
}