.expanded-display {
    height: 100dvh;
    width: 100vw;
    @include center;
    background-color: $mainBackground;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 300ms;
    z-index: 6;
    overflow-x: hidden;
    overflow-y: auto;

    .expanded-display-x-button {
        @include center;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .display {
        justify-content: center;

        .display-canvas-holder {
            canvas {
                height: 512px;
                width: 512px;
            }

            strong {
                font-size: 72px;
            }
        }

        .display-text-display {
            width: 512px;
            gap: 6px;
            
            .display-text-display-element {
                height: 32px;
                width: 26px;
                font-size: 32px;
            }
        }

        .display-keyboard {
            width: 512px;
        }
    }
}