.high-speed-block {
    height: 100%;
    width: 100%;
    @include center;
    background-color: rgba(var(--mainBackgroundRGB), .8);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: 300ms;
    z-index: 1;

    .high-speed-block-container {
        width: 80%;
        @include center;
        gap: 12px;

        .high-speed-block-icon {
            height: 32px;
            width: 32px;
            object-fit: contain;
            flex-shrink: 0;
        }

        p {
            color: $primaryText;
            font-size: 16px;
            font-family: Roboto-Regular;
        }
    }
}