.memory {
    height: calc(100dvh - 38px); // 38px is height of header
    width: 20%;
    min-width: 430px;
    @include center(column);
    justify-content: flex-start;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;

    .memory-header {
        height: 27px;
        width: 100%;
        @include center;
        justify-content: space-between;
        background-color: #0F0F0F;
        padding: 0 12px;

        strong {
            color: #F4F4F4;
            font-size: 14px;
            font-family: Roboto-SemiBold;
            font-weight: normal;
        }

        button {
            color: #F4F4F4;
            font-size: 12px;
            font-family: Roboto-Regular;
            background-color: transparent;
            border: 1px solid #F4F4F4;
            border-radius: 5px;
            padding: 3px 12px;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: $blue;
                border: 1px solid transparent;
            }
        }
    }

    .memory-map {
        height: calc(100dvh - 38px - 27px); // 38px (header height) + 27px (memory-header height)
        width: 100%;
        @include center(column);

        .memory-map-columns {
            height: 20px;
            width: 100%;
            @include center;
            justify-content: flex-start;
            border-top: 1px solid #2F3336;
            border-bottom: 1px solid #2F3336;

            p {
                height: 20px;
                width: 24px;
                @include center;
                color: #D8D8D8;
                font-size: 13px;
                font-family: Roboto-Medium;
                border-left: 1px solid #2F3336;
                padding: 5px;

                &:first-child {
                    width: 28px;
                    border-left: none;
                }

                &:last-child {
                    border-right: 1px solid #2F3336;
                }
            }
        }

        .memory-map-content {
            height: calc(100dvh - 38px - 27px - 20px); // 38px (header height) + 27px (memory-header height) + 20px (memory-map-columns height)
            width: 100%;
            @include center;
            align-items: flex-start;
            justify-content: flex-start;
            overflow-x: hidden;
            overflow-y: auto;

            .memory-map-rows {
                @include center(column);

                p {
                    height: 20px;
                    width: 28px;
                    @include center;
                    color: #D8D8D8;
                    font-size: 13px;
                    font-family: Roboto-Regular;
                    padding: 5px;
                }
            }

            .memory-map-matrix {
                width: 100%;
                @include center(column);
                
                .memory-map-matrix-row {
                    height: 20px;
                    width: 100%;
                    @include center;
                    justify-content: flex-start;
                    

                    .memory-map-matrix-column {
                        height: 20px;
                        width: 24px;
                        @include center;
                        color: #D4D4D4;
                        font-size: 14px;
                        font-family: SourceCodePro-Regular;
                        border-left: 1px solid #2F3336;
                        padding: 5px;

                        &:last-child {
                            border-right: 1px solid #2F3336;
                        }
                    }
                }
            }
        }
    }
}