.mobile-navigation {
    height: 48px;
    width: 100%;
    @include center;
    justify-content: space-between;
    background-color: $mainBackground;
    border-top: 1px solid $borderColor;
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    z-index: 5;

    button {
        width: 65px;
        @include center(column);
        gap: 3px;
        background-color: transparent;
        border: none;

        .mobile-navigation-button-icon {
            height: 20px;
            width: 20px;
            object-fit: contain;
        }

        p {
            color: $primaryText;
            font-size: 12px;
            font-family: Roboto-Regular;
        }
    }
}