.header-dropdown-view {
    width: 200px;
    @include center(column);
    gap: 7px;

    button {
        width: 100%;
        @include center;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: $blue;
        }

        .header-dropdown-view-button-left-group {
            @include center;
            gap: 10px;

            img {
                height: 22px;
                width: 22px;
                object-fit: contain;
            }
            
            p {
                color: #F4F4F4;
                font-size: 14px;
                font-family: Roboto-Regular;
            }
        }

        .header-dropdown-view-check-icon {
            opacity: 0;
            transition: 300ms;
        }
    }
}