.header-dropdown {
    width: 150px;
    @include center(column);
    align-items: flex-start;
    gap: 7px;
    background-color: #0F0F0F;
    border-radius: 5px;
    opacity: 0;
    padding: 7px;
    position: absolute;
    left: 0;
    top: 48px;
    transition: 300ms;
    z-index: 5;

    button {
        width: 100%;
        @include center;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: $blue;
        }

        p {
            color: #F4F4F4;
            font-size: 14px;
            font-family: Roboto-Regular;
        }

        img {
            opacity: 0;
            transition: 300ms;
        }
    }
}

.active-dropdown {
    opacity: 1;
    top: 38px;
}