.header-dropdown-file {
    width: 200px;
    @include center(column);
    gap: 7px;
    cursor: default;

    button {
        width: 100%;
        @include center;
        justify-content: flex-start;
        gap: 10px;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        transition: 300ms;

        &:hover {
            background-color: $blue;
        }

        img {
            height: 22px;
            width: 22px;
            object-fit: contain;
        }

        p {
            color: #F4F4F4;
            font-size: 14px;
            font-family: Roboto-Regular;
        }

        input {
            height: 100%;
            width: 100%;
            opacity: 0;
            position: absolute;
            z-index: 1;
        }
    }

    .header-dropdown-file-autosave-button {
        justify-content: space-between;

        .header-dropdown-file-autosave-button-left-group {
            @include center;
            gap: 10px;
        }
    }
}