.header-dropdown {
    @include center(column);
    align-items: flex-start;
    background-color: $primaryBackground;
    border-radius: 5px;
    opacity: 0;
    padding: 7px;
    position: absolute;
    left: 0;
    top: 48px;
    transition: 300ms;
    z-index: 6;

    @import "./header-dropdown-file";
    @import "./header-dropdown-view";
    @import "./header-dropdown-speed";
}

.active-dropdown {
    opacity: 1;
    top: 38px;
}