header {
    height: 38px;
    width: 100%;
    @include center;
    justify-content: space-between;
    background-color: $primaryBackground;
    padding: 0 12px;

    @import "./header-dropdown";

    .header-left-group {
        @include center;
        gap: 7px;

        .header-left-group-logo {
            width: 30px;
            object-fit: contain;
        }

        .header-left-group-divider {
            height: 19px;
            width: 1px;
            background-color: rgba(var(--primaryTextRGB), 0.3);
        }
        
        .header-buttons {
            @include center;
            gap: 3px;

            .assembler-button,
            .header-dropdown-button {
                @include center;
                gap: 4px;
                background-color: transparent;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                padding: 5px;
                transition: 300ms;

                &:hover {
                    background-color: $blue;
                }

                p {
                    color: $primaryText;
                    font-size: 14px;
                    font-family: Roboto-Regular;
                }
            }
        }

        .header-dropdown-buttons .header-dropdown-button {
            position: relative;

            span {
                @include center;
                width: 83px;
                color: #F4F4F4; // This stays white on both themes.
                font-size: 14px;
                font-family: SourceCodePro-Regular;
                background-color: #274677;
                border-radius: 5px;
                margin-left: 8px;
                padding: 3px;
            }
        }

        .header-assembler-buttons {
            gap: 7px;
            
            .header-assembler-button .assembler-button-icon {
                height: 22px;
                width: 22px;
                object-fit: contain;
            }
        }
    }

    .header-title {
        color: white;
        font-size: 18px;
        font-family: SourceCodePro-Regular;
        font-weight: normal;
    }
}