.theme-dashboard {
    width: 100%;
    @include center;
    position: relative;

    @import "./theme-dashboard-dropdown";

    .theme-dashboard-button {
        width: 100%;
        @include center;
        justify-content: space-between;
        gap: 10px;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        transition: 300ms;

        &:hover {
            background-color: $mark;
        }

        .theme-dashboard-button-left-group {
            @include center;
            gap: 10px;

            p {
                color: $primaryText;
                font-size: 14px;
                font-family: Roboto-Regular;
                text-transform: capitalize;
            }
        }

        .theme-dashboard-button-arrow {
            height: 18px;
            width: 18px;
            object-fit: contain;
        }
    }
}