.theme-dashboard-dropdown {
    width: 200px;
    @include center(column);
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    background-color: $primaryBackground;
    border-radius: 5px;
    opacity: 0;
    padding: 7px;
    position: absolute;
    top: -10px;
    right: -210px;
    transition: 300ms;
    z-index: 3000; // Increased this much because of Monaco Editor modals.

    button {
        width: 100%;
        @include center;
        justify-content: space-between;
        background: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: 300ms;

        .theme-dashboard-dropdown-button-left-group {
            @include center;
            gap: 10px;

            .theme-dashboard-dropdown-button-icon {
                height: 22px;
                width: 22px;
                object-fit: contain;
            }

            p {
                color: $primaryText;
                font-size: 14px;
                font-family: Roboto-Regular;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            opacity: 0;
            transition: 300ms;
        }
    }

    .theme-dashboard-dropdown-dark-button:hover {
        background: $darkHover;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $darkText;
            }

            p {
                color: $darkText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $darkText;
        }
    }

    .theme-dashboard-dropdown-light-button:hover {
        background: $lightHover;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $lightText;
            }

            p {
                color: $lightText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $lightText;
        }
    }

    .theme-dashboard-dropdown-classic-button:hover {
        background: $classicHover;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $classicText;
            }

            p {
                color: $classicText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $classicText;
        }
    }

    .theme-dashboard-dropdown-ocean-button:hover {
        background: $oceanHover;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $oceanText;
            }

            p {
                color: $oceanText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $oceanText;
        }
    }

    .theme-dashboard-dropdown-forest-button:hover {
        background: $forestHover;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $forestText;
            }

            p {
                color: $forestText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $forestText;
        }
    }

    .theme-dashboard-dropdown-ruby-button:hover {
        background: $rubyHover;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $rubyText;
            }

            p {
                color: $rubyText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $rubyText;
        }
    }

    #theme-dashboard-dropdown-theme-button {
        background: $blue;
        cursor: default;

        .theme-dashboard-dropdown-button-left-group {
            .theme-dashboard-dropdown-button-icon {
                color: $primaryText;
            }

            p {
                color: $primaryText;
            }
        }

        .theme-dashboard-dropdown-check-icon {
            color: $primaryText;
        }
    }
}

.active-dropdown {
    opacity: 1;
    top: 0;
}

@media screen and (max-width: 900px) {
    .theme-dashboard-dropdown {
        width: 100%;
        background-color: $mainBackground;
        opacity: 1;
        position: static;
        padding-left: 0;
        padding-right: 0;

        button .theme-dashboard-dropdown-button-left-group p {
            font-size: 16px;
        }
    }
}