.io-register {
    width: 100%;
    @include center;
    border-bottom: 1px solid $borderColor;

    p {
        height: 28px;
        width: 100%;
        @include center;
        justify-content: flex-start;
        color: $primaryText;
        font-size: 14px;
        font-family: SourceCodePro-Regular;
        border-right: 1px solid $borderColor;
        padding-left: 10px;

        &:last-child {
            border-right: none;
        }
    }
}