.io-registers {
    height: 190px;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    background-color: $mainBackground;
    position: absolute;
    bottom: 0;
    z-index: 2;

    .io-registers-map {
        height: calc(100% - 27px); // 27px (DraggableHeader)
        width: 100%;
        @include center(column);
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        
        @import "./io-register";
        
        .io-registers-map-header {
            background-color: $secondaryBackground;
            position: sticky;
            top: 0;

            p {
                justify-content: center;
                font-family: Roboto-Medium;
                padding-left: none;
            }
        }
    }
}