@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-ExtraBold;
    src: url("../fonts/Roboto-ExtraBold.ttf");
}

@font-face {
    font-family: Roboto-ExtraLight;
    src: url("../fonts/Roboto-ExtraLight.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-SemiBold;
    src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: SourceCodePro-Regular;
    src: url("../fonts/SourceCodePro-Regular.ttf");
}