:root {
    --primaryText: #F4F4F4;
    --secondaryText: #D4D4D4;
    --tertiaryText: #D8D8D8;

    --mainBackground: black;
    --primaryBackground: #0F0F0F;
    --secondaryBackground: #0A0A0A;
    --tertiaryBackground: #2B2A2A;
    --textDisplayBackground: #2F3336;
}

[data-theme="light"] {
    --primaryText: #1A1A1A;
    --secondaryText: #4A4A4A;
    --tertiaryText: #7A7A7A;

    --mainBackground: white;
    --primaryBackground: #F4F5F7;
    --secondaryBackground: #ECEEF1;
    --tertiaryBackground: #DADDE2;

    --textDisplayBackground: #E6E9ED;
}

$primaryText: var(--primaryText);
$secondaryText: var(--secondaryText);
$tertiaryText: var(--tertiaryText);

$mainBackground: var(--mainBackground);
$primaryBackground: var(--primaryBackground);
$secondaryBackground: var(--secondaryBackground);
$tertiaryBackground: var(--tertiaryBackground);
$textDisplayBackground: var(--textDisplayBackground);