$blue: #405A85;
$aColor: #3D691D;
$bColor: #C06A08;
$cColor: #60218E;
$dColor: #E81E1E;
$ipColor: #2F608B;
$ipLightColor: #79b4eb;
$spColor: #BB3071;
$spLightColor: #F59CC5;

$primaryText: #F4F4F4;
$secondaryText: #D4D4D4;
$tertiaryText: #D8D8D8;

$textDisplayBackground: #2F3336;

$primaryBackground: #0F0F0F;
$secondaryBackground: #0A0A0A;
$tertiaryBackground: #2B2A2A;