@import "./additional/main";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    height: 100dvh;
    width: 100vw;
    background-color: black;
    @include center(column);
    justify-content: flex-start
}

@import "./components/main";