@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-ExtraBold;
  src: url("../fonts/Roboto-ExtraBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-ExtraLight;
  src: url("../fonts/Roboto-ExtraLight.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-SemiBold;
  src: url("../fonts/Roboto-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
  font-display: swap;
}
@font-face {
  font-family: SourceCodePro-Regular;
  src: url("../fonts/SourceCodePro-Regular.ttf");
  font-display: block;
}
:root {
  --primaryText: #F4F4F4;
  --primaryTextRGB: 244, 244, 244;
  --secondaryText: #D4D4D4;
  --tertiaryText: #D8D8D8;
  --mainBackground: black;
  --mainBackgroundRGB: 0, 0, 0;
  --primaryBackground: #0F0F0F;
  --secondaryBackground: #0A0A0A;
  --tertiaryBackground: #2B2A2A;
  --textDisplayBackground: #2F3336;
  --blue: #405A85;
  --darkBlue: #274677;
  --aColor: #3D691D;
  --bColor: #C06A08;
  --cColor: #60218E;
  --dColor: #E81E1E;
  --ipColor: #122A4A;
  --ipLightColor: #3D75A6;
  --ipHover: #071835;
  --spColor: #BB3071;
  --spLightColor: #C77399;
}

[data-theme=light] {
  --primaryText: #1A1A1A;
  --primaryTextRGB: 26, 26, 26;
  --secondaryText: #4A4A4A;
  --tertiaryText: #7A7A7A;
  --mainBackground: white;
  --mainBackgroundRGB: 255, 255, 255;
  --primaryBackground: #F4F5F7;
  --secondaryBackground: #ECEEF1;
  --tertiaryBackground: #DADDE2;
  --textDisplayBackground: #E6E9ED;
  --blue: #6F8FC7;
  --darkBlue: #4E6FA8;
  --aColor: #8FC97A;
  --bColor: #F2B36A;
  --cColor: #B48AE3;
  --dColor: #F58A8A;
  --ipColor: #7FAED6;
  --ipLightColor: #B9DCF7;
  --ipHover: #7F9FCF;
  --spColor: #E07AA8;
  --spLightColor: #F8C7DD;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBackground);
  overflow: hidden;
}

button {
  outline: none;
}

svg {
  color: var(--primaryText);
}

main {
  height: 100dvh;
  width: 100vw;
  background-color: var(--mainBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
main .workspace {
  height: calc(100dvh - 38px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

header {
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primaryBackground);
  padding: 0 12px;
}
header .header-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primaryBackground);
  border-radius: 5px;
  opacity: 0;
  padding: 7px;
  position: absolute;
  left: 0;
  top: 48px;
  transition: 300ms;
  z-index: 6;
}
header .header-dropdown .header-dropdown-file {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  cursor: default;
}
header .header-dropdown .header-dropdown-file button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  transition: 300ms;
}
header .header-dropdown .header-dropdown-file button:hover {
  background-color: var(--blue);
}
header .header-dropdown .header-dropdown-file button .header-dropdown-file-button-icon {
  height: 22px;
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-dropdown .header-dropdown-file button p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-Regular;
}
header .header-dropdown .header-dropdown-file button input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
}
header .header-dropdown .header-dropdown-file .header-dropdown-file-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(var(--primaryTextRGB), 0.3);
}
header .header-dropdown .header-dropdown-file .header-dropdown-file-autosave-button {
  justify-content: space-between;
}
header .header-dropdown .header-dropdown-file .header-dropdown-file-autosave-button .header-dropdown-file-autosave-button-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
header .header-dropdown .header-dropdown-view {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-theme-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  transition: 300ms;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-theme-button .header-dropdown-view-theme-button-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(var(--primaryTextRGB), 0.3);
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 300ms;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections button:hover {
  background-color: var(--blue);
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections button .header-dropdown-view-button-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections button .header-dropdown-view-button-left-group .header-dropdown-file-autosave-button-icon {
  height: 22px;
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections button .header-dropdown-view-button-left-group p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-Regular;
}
header .header-dropdown .header-dropdown-view .header-dropdown-view-sections button .header-dropdown-view-check-icon {
  opacity: 0;
  transition: 300ms;
}
header .header-dropdown .header-dropdown-speed {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 7px 0;
  cursor: default;
}
header .header-dropdown .header-dropdown-speed strong {
  color: var(--primaryText);
  font-size: 18px;
  font-family: Roboto-SemiBold;
  font-weight: normal;
}
header .header-dropdown .header-dropdown-speed .header-dropdown-speed-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
header .header-dropdown .header-dropdown-speed .header-dropdown-speed-buttons button {
  width: 75px;
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-Regular;
  background-color: var(--secondaryBackground);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  transition: 300ms;
}
header .header-dropdown .header-dropdown-speed .header-dropdown-speed-buttons button:hover {
  border: 1px solid #F4F4F4;
}
header .active-dropdown {
  opacity: 1;
  top: 38px;
}
header .header-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}
header .header-left-group .header-left-group-logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-left-group .header-left-group-divider {
  height: 19px;
  width: 1px;
  background-color: rgba(var(--primaryTextRGB), 0.3);
}
header .header-left-group .header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
}
header .header-left-group .header-buttons .assembler-button,
header .header-left-group .header-buttons .header-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: 300ms;
}
header .header-left-group .header-buttons .assembler-button:hover,
header .header-left-group .header-buttons .header-dropdown-button:hover {
  background-color: var(--blue);
}
header .header-left-group .header-buttons .assembler-button p,
header .header-left-group .header-buttons .header-dropdown-button p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-Regular;
}
header .header-left-group .header-dropdown-buttons .header-dropdown-button {
  position: relative;
}
header .header-left-group .header-dropdown-buttons .header-dropdown-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 83px;
  color: var(--primaryText);
  font-size: 14px;
  font-family: SourceCodePro-Regular;
  background-color: var(--darkBlue);
  border-radius: 5px;
  margin-left: 8px;
  padding: 3px;
}
header .header-left-group .header-assembler-buttons {
  gap: 7px;
}
header .header-left-group .header-assembler-buttons .header-assembler-button .assembler-button-icon {
  height: 22px;
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-title {
  color: var(--primaryText);
  font-size: 18px;
  font-family: SourceCodePro-Regular;
  font-weight: normal;
}

.editor {
  height: 100%;
  width: 100%;
  min-width: calc(100vw - 860px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #2F3336;
  position: relative;
}
.editor .editor-pages {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  flex-shrink: 0;
  background-color: var(--mainBackground);
  border-bottom: 1px solid #2F3336;
  overflow-x: auto;
  overflow-y: hidden;
}
.editor .editor-pages .editor-page {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  flex-shrink: 0;
  background-color: var(--primaryBackground);
  border: 1px solid transparent;
  border-radius: 5px;
  opacity: 0.7;
  padding: 0 8px;
  cursor: pointer;
  transition: 300ms;
}
.editor .editor-pages .editor-page:hover {
  background-color: var(--tertiaryBackground);
}
.editor .editor-pages .editor-page:hover button {
  opacity: 1;
}
.editor .editor-pages .editor-page .editor-page-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 6px;
}
.editor .editor-pages .editor-page .editor-page-left-group .editor-page-icon {
  height: 18px;
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}
.editor .editor-pages .editor-page .editor-page-left-group p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-Regular;
}
.editor .editor-pages .editor-page button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  border: none;
  opacity: 0;
  transition: 300ms;
  cursor: pointer;
}
.editor .editor-pages .editor-page button .editor-page-x-icon {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}
.editor .editor-pages .editor-active-page {
  background-color: var(--tertiaryBackground);
  opacity: 1;
  cursor: default;
}
.editor .editor-pages .editor-add-button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: var(--primaryBackground);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.editor .editor-pages .editor-add-button:hover {
  background-color: var(--tertiaryBackground);
}
.editor .editor-pages .editor-add-button .editor-add-button-icon {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.editor .editor-error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #C41B08;
  opacity: 0;
  position: absolute;
  bottom: -20px;
  padding: 20px 30px;
  transition: 300ms;
  z-index: 5;
}
.editor .editor-error button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.editor .editor-error p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: SourceCodePro-Regular;
  display: -webkit-box;
  text-align: left;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: break-word;
}

.memory {
  height: calc(100dvh - 38px);
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid #2F3336;
  border-left: 1px solid #2F3336;
}
.memory .memory-header {
  height: 27px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--primaryBackground);
  border-bottom: 1px solid #2F3336;
  padding: 0 12px;
}
.memory .memory-header strong {
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-SemiBold;
  font-weight: normal;
}
.memory .memory-header button {
  color: var(--primaryText);
  font-size: 12px;
  font-family: Roboto-Regular;
  background-color: transparent;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  padding: 3px 12px;
  cursor: pointer;
  transition: 300ms;
}
.memory .memory-header button:hover {
  background-color: var(--blue);
  border: 1px solid transparent;
}
.memory .memory-header .memory-header-split-button-active {
  background-color: var(--blue);
  border: 1px solid transparent;
}
.memory .memory-matrix-holder {
  height: calc(100dvh - 38px - 27px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.memory .memory-matrix-holder .memory-matrix {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-columns {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #2F3336;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-columns span {
  height: 20px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--tertiaryText);
  font-size: 13px;
  font-family: Roboto-Medium;
  border-left: 1px solid #2F3336;
  padding: 5px;
  cursor: default;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-columns span:first-child {
  width: 28px;
  border-left: none;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-columns span:last-child {
  border-right: 1px solid #2F3336;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-content {
  height: calc(100dvh - 38px - 27px - 20px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-content .memory-matrix-rows {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-content .memory-matrix-rows span {
  height: 20px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--tertiaryText);
  font-size: 13px;
  font-family: Roboto-Regular;
  padding: 5px;
  cursor: default;
}
.memory .memory-matrix-holder .memory-matrix .memory-matrix-content .memory-canvas {
  height: 5160px;
  width: 384px;
}

.right-group {
  height: calc(100dvh - 38px);
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  border-left: 1px solid #2F3336;
}
.right-group .right-group-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.right-group .right-group-content .signature {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
.right-group .right-group-content .signature .signature-logo {
  height: 80px;
  width: 130px;
  color: var(--textDisplayBackground);
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
.right-group .right-group-content .signature strong {
  color: var(--textDisplayBackground);
  font-size: 24px;
  font-family: SourceCodePro-Regular;
  font-weight: normal;
}
.right-group .right-group-content .signature p {
  color: var(--textDisplayBackground);
  font-size: 14px;
  font-family: SourceCodePro-Regular;
}
.right-group .right-group-content .io-devices {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--mainBackground);
  position: absolute;
  bottom: 0;
}
.right-group .right-group-content .io-devices .io-devices-expand-button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--primaryBackground);
  border: 1px solid #2F3336;
  border-radius: 50%;
  position: absolute;
  top: 37px;
  right: 10px;
  cursor: pointer;
  transition: 300ms;
  z-index: 1;
}
.right-group .right-group-content .io-devices .io-devices-expand-button:hover {
  background-color: var(--blue);
  border: 1px solid #F4F4F4;
}
.right-group .right-group-content .cpu-registers {
  height: 290px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--mainBackground);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  position: relative;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
  padding: 0 12px;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: default;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-register strong {
  width: 26px;
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: normal;
  padding-right: 8px;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-register p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: SourceCodePro-Regular;
  background-color: var(--primaryBackground);
  border-left: 2px solid #2F3336;
  padding: 0 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-register .cpu-register-sr-flags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-left: 2px solid #2F3336;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-register .cpu-register-sr-flags .cpu-register-sr-flag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-register .cpu-register-sr-flags .cpu-register-sr-flag p {
  font-size: 11px;
  border-left: none;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-a-register p,
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-b-register p,
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-c-register p,
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-d-register p {
  cursor: pointer;
  transition: background-color 300ms ease;
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-ip-register p {
  background-color: var(--ipColor);
}
.right-group .right-group-content .cpu-registers .cpu-registers-content .cpu-registers-row .cpu-sp-register p {
  background-color: var(--spColor);
}
.right-group .right-group-content .io-registers {
  height: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--mainBackground);
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.right-group .right-group-content .io-registers .io-registers-map {
  height: calc(100% - 27px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}
.right-group .right-group-content .io-registers .io-registers-map .io-register {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid #2F3336;
}
.right-group .right-group-content .io-registers .io-registers-map .io-register p {
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--primaryText);
  font-size: 14px;
  font-family: SourceCodePro-Regular;
  border-right: 1px solid #2F3336;
  padding-left: 10px;
}
.right-group .right-group-content .io-registers .io-registers-map .io-register p:last-child {
  border-right: none;
}
.right-group .right-group-content .io-registers .io-registers-map .io-registers-map-header {
  background-color: var(--secondaryBackground);
  position: sticky;
  top: 0;
}
.right-group .right-group-content .io-registers .io-registers-map .io-registers-map-header p {
  justify-content: center;
  font-family: Roboto-Medium;
  padding-left: none;
}

.draggable-header {
  height: 27px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--primaryBackground);
  border-top: 1px solid #2F3336;
  border-bottom: 1px solid #2F3336;
  padding: 0 12px;
  cursor: ns-resize;
}
.draggable-header strong {
  color: var(--primaryText);
  font-size: 14px;
  font-family: Roboto-SemiBold;
  font-weight: normal;
}

.range {
  width: calc(100% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  padding: 10px 0;
  cursor: grab;
}
.range .range-line {
  height: 5px;
  width: 100%;
  background-color: var(--primaryText);
  border-radius: 10px;
}
.range .range-filled-line {
  height: 5px;
  width: 0;
  background-color: var(--ipLightColor);
  border-radius: 10px;
  position: absolute;
  transition: 0;
}
.range .range-circle {
  height: 20px;
  width: 20px;
  background-color: var(--blue);
  border: 3px solid var(--primaryBackground);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(0);
  transition: background-color 300ms ease;
}
.range .range-circle:hover {
  background-color: var(--darkBlue);
}

.high-speed-block {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(var(--mainBackgroundRGB), 0.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 300ms;
  z-index: 1;
}
.high-speed-block .high-speed-block-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}
.high-speed-block .high-speed-block-container .high-speed-block-icon {
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}
.high-speed-block .high-speed-block-container p {
  color: var(--primaryText);
  font-size: 16px;
  font-family: Roboto-Regular;
}

.display {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.display .display-buttons {
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: calc(50% - 256px - 30px);
  transform: translate(-100%, -50%);
  z-index: 1;
}
.display .display-buttons .assembler-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: 300ms;
}
.display .display-buttons .assembler-button:hover {
  background-color: var(--blue);
}
.display .display-buttons .assembler-button .assembler-button-icon {
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.display .display-buttons .assembler-button p {
  color: var(--primaryText);
  font-size: 24px;
}
.display .display-canvas-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.display .display-canvas-holder canvas {
  height: 256px;
  width: 256px;
  background-color: black;
  border: 1px solid #2F3336;
}
.display .display-canvas-holder strong {
  color: #F4F4F4;
  font-size: 36px;
  font-family: SourceCodePro-Regular;
  font-weight: normal;
  text-align: center;
  position: absolute;
  opacity: 1;
  transition: 300ms;
}
.display .display-text-display {
  width: 256px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 3px;
}
.display .display-text-display .display-text-display-element {
  height: 17px;
  width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--secondaryText);
  font-size: 16px;
  font-family: SourceCodePro-Regular;
  background-color: var(--textDisplayBackground);
}
.display .display-keyboard {
  width: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid #2F3336;
  border-radius: 5px;
  outline: none;
  padding: 5px 12px;
  cursor: pointer;
  transition: 300ms;
}
.display .display-keyboard:hover {
  border: 1px solid var(--blue);
}
.display .display-keyboard .display-keyboard-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}
.display .display-keyboard .display-keyboard-left-group .display-keyboard-icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.display .display-keyboard .display-keyboard-left-group .display-keyboard-icon-holder .display-keyboard-icon {
  transition: 300ms;
}
.display .display-keyboard p {
  color: var(--primaryText);
  font-size: 14px;
  font-family: SourceCodePro-Regular;
}
.display .display-keyboard .display-keyboard-key {
  opacity: 0;
  transition: 300ms;
}
.display .display-keyboard-active {
  border: 1px solid var(--blue);
}

.expanded-display {
  height: 100dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--mainBackground);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
  z-index: 6;
  overflow-x: hidden;
  overflow-y: auto;
}
.expanded-display .expanded-display-x-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}
.expanded-display .display {
  justify-content: center;
}
.expanded-display .display .display-canvas-holder canvas {
  height: 512px;
  width: 512px;
}
.expanded-display .display .display-canvas-holder strong {
  font-size: 72px;
}
.expanded-display .display .display-text-display {
  width: 512px;
  gap: 6px;
}
.expanded-display .display .display-text-display .display-text-display-element {
  height: 32px;
  width: 26px;
  font-size: 32px;
}
.expanded-display .display .display-keyboard {
  width: 512px;
}

.switch {
  height: 25px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #818080;
  border-radius: 18px;
  position: relative;
  cursor: pointer;
  transition: 300ms;
}
.switch .switch-ball {
  height: 21px;
  width: 21px;
  background-color: var(--primaryBackground);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: 300ms;
}
.switch .switch-ball-active {
  background-color: var(--blue);
  left: calc(100% - 21px - 2px);
}

.switch-active {
  background-color: #D9D9D9;
}

.assembler-buttons .assembler-button-disabled {
  opacity: 0.5;
  cursor: default !important;
}
.assembler-buttons .assembler-button-disabled:hover {
  background-color: transparent !important;
}

.rich-editor {
  color: transparent;
}

.rich-editor-highlighted-line {
  background-color: var(--ipHover);
}

.rich-editor-highlighted-line-gutter {
  border-left: 3px solid var(--blue);
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.loading img {
  height: 70px;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  animation: lightning 2s linear infinite;
}
.loading .loading-outer-circle {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--primaryBackground);
  border: 2px solid var(--secondaryBackground);
  border-radius: 50%;
}
.loading .loading-outer-circle .loading-inner-circle {
  height: 30px;
  width: 30px;
  background-color: var(--mainBackground);
  border: 2px solid var(--secondaryBackground);
  border-radius: 50%;
  z-index: 1;
}
.loading .loading-outer-circle .loading-spinner {
  height: 46px;
  width: 46px;
  border: 8px solid transparent;
  border-top: 8px solid var(--blue);
  border-radius: 50%;
  position: absolute;
  animation: rotation 3s infinite;
}

@keyframes lightning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */