@import "./additional/main";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: $mainBackground;
    overflow: hidden;
}

button {
    outline: none;
}

p, span, strong, button, h1 {
    user-select: none;
}

svg {
    color: $primaryText;
}

main {
    height: 100dvh;
    width: 100vw;
    background-color: $mainBackground;
    @include center(column);
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

    .workspace {
        height: calc(100dvh - 38px); // 38px is header height
        width: 100%;
        @include center;
        align-items: flex-start;
    }
}

@import "./components/main";