@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-ExtraBold;
  src: url("../fonts/Roboto-ExtraBold.ttf");
}
@font-face {
  font-family: Roboto-ExtraLight;
  src: url("../fonts/Roboto-ExtraLight.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-SemiBold;
  src: url("../fonts/Roboto-SemiBold.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  height: 100dvh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0F0F0F;
  padding: 0 12px;
}
header .header-dropdown {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  background-color: #0F0F0F;
  border-radius: 5px;
  opacity: 0;
  padding: 7px;
  position: absolute;
  left: 0;
  top: 48px;
  transition: 300ms;
}
header .header-dropdown button {
  width: 100%;
  color: #F4F4F4;
  font-size: 14px;
  font-family: Roboto-Regular;
  text-align: left !important;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 300ms;
}
header .header-dropdown button:hover {
  background-color: #405a85;
}
header .active-dropdown {
  opacity: 1;
  top: 38px;
}
header .header-left-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}
header .header-left-group .header-left-group-divider {
  height: 19px;
  width: 1px;
  background-color: rgba(244, 244, 244, 0.3);
}
header .header-left-group .header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
}
header .header-left-group .header-buttons .header-regular-button,
header .header-left-group .header-buttons .header-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: 300ms;
}
header .header-left-group .header-buttons .header-regular-button:hover,
header .header-left-group .header-buttons .header-dropdown-button:hover {
  background-color: #405a85;
}
header .header-left-group .header-buttons .header-regular-button p,
header .header-left-group .header-buttons .header-dropdown-button p {
  color: #F4F4F4;
  font-size: 14px;
  font-family: Roboto-Regular;
}
header .header-left-group .header-dropdown-buttons .header-dropdown-button {
  position: relative;
}
header .header-left-group .header-regular-buttons {
  gap: 7px;
}
header .header-left-group .header-regular-buttons .header-regular-button img {
  height: 22px;
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-title {
  color: white;
  font-size: 16px;
  font-family: Roboto-Medium;
  font-weight: normal;
}/*# sourceMappingURL=main.css.map */