.record-set-button {
    height: 30px;
    width: 30px;
    @include center;
    background-color: $primaryBackground;
    border: 1px solid $borderColor;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    z-index: 1;

    &:hover {
        background-color: $mark;
        border: 1px solid #F4F4F4;
    }

    .record-set-button-recording-icon {
        color: $red;
    }
}

.record-set-button-recording {
    border-color: $red;
    cursor: default;

    &:hover {
        background-color: $primaryBackground;
        border: 1px solid $red;
    }
}

.record-set-button-expanded {
    height: auto;
    width: 100%;
    justify-content: flex-start;
    gap: 12px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        border: none;
    }

    .record-set-button-record-icon,
    .record-set-button-recording-icon {
        height: 32px;
        width: 32px;
        object-fit: contain;
    }

    p {
        color: $primaryText;
        font-size: 24px;
        font-family: Roboto-Regular;
    }
}

.record-set-button-recording.record-set-button-expanded {
    p {
        color: $red;
    }
}