.cpu-registers {
    height: 300px;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    gap: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;

    .cpu-registers-content {
        width: 100%;
        @include center(column);
        gap: 7px;

        .cpu-registers-row {
            width: 100%;
            @include center;
            justify-content: flex-start;
            gap: 18px;
            padding: 0 12px;

            .cpu-registers-row-register {
                @include center;
                
                strong {
                    width: 26px;
                    color: #F4F4F4;
                    font-size: 14px;
                    font-family: Roboto-Medium;
                    font-weight: normal;
                    padding-right: 8px;
                }

                p {
                    color: #F4F4F4;
                    font-size: 14px;
                    font-family: SourceCodePro-Regular;
                    background-color: #0F0F0F;
                    border-left: 2px solid #2F3336;
                    padding: 0 4px;
                }

                .cpu-registers-row-sr-values {
                    @include center;
                    border-left: 2px solid #2F3336;

                    .cpu-registers-row-sr-value {
                        @include center(column);

                        p {
                            font-size: 11px;
                            border-left: none;
                        }
                    }
                }
            }

            .cpu-ip-register p {
                background-color: $ipColor;
            }

            .cpu-sp-register p {
                background-color: $spColor;
            }
        }
    }
}