.io-devices {
    height: 100%;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    background-color: black;
    position: absolute;
    bottom: 0;

    .io-devices-expand-button {
        height: 30px;
        width: 30px;
        @include center;
        background-color: #0F0F0F;
        border: 1px solid #2F3336;
        border-radius: 50%;
        position: absolute;
        top: 37px;
        right: 10px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: $blue;
            border: 1px solid #F4F4F4;
        }
    }
}