.right-group {
    height: calc(100dvh - 38px); // 38px is height of header
    width: 430px;
    @include center(column);
    justify-content: flex-start;

    .right-group-content {
        height: 100%;
        width: 100%;
        @include center(column);
        justify-content: flex-start;
        position: relative;

        @import "./io-devices";
        @import "./cpu-registers";
        @import "./io-registers";
    }
}