.right-group {
    height: calc(100dvh - 38px); // 38px is height of header
    width: 430px;
    @include center(column);
    flex-shrink: 0;
    justify-content: flex-start;
    border-left: 1px solid #2F3336;

    .right-group-content {
        height: 100%;
        width: 100%;
        @include center(column);
        justify-content: flex-start;
        position: relative;

        @import "./signature";
        @import "./io-devices";
        @import "./cpu-registers/main";
        @import "./io-registers";
    }
}