.signature {
    height: 100%;
    width: 100%;
    @include center(column);
    gap: 7px;

    img {
        height: 80px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    strong {
        color: $textDisplayBackground;
        font-size: 24px;
        font-family: SourceCodePro-Regular;
        font-weight: normal;
    }

    p {
        color: $textDisplayBackground;
        font-size: 14px;
        font-family: SourceCodePro-Regular;
    }
}