.cpu-register {
    @include center;
    cursor: default;

    strong {
        width: 26px;
        color: #F4F4F4;
        font-size: 14px;
        font-family: Roboto-Medium;
        font-weight: normal;
        padding-right: 8px;
    }

    p {
        color: #F4F4F4;
        font-size: 14px;
        font-family: SourceCodePro-Regular;
        background-color: #0F0F0F;
        border-left: 2px solid #2F3336;
        padding: 0 4px;
        user-select: none;
    }

    .cpu-register-sr-flags {
        @include center;
        border-left: 2px solid #2F3336;

        .cpu-register-sr-flag {
            @include center(column);

            p {
                font-size: 11px;
                border-left: none;
            }
        }
    }
}

.cpu-a-register p,
.cpu-b-register p,
.cpu-c-register p,
.cpu-d-register p {
    cursor: pointer;
    transition: background-color 300ms ease;
}

.cpu-ip-register p {
    background-color: $ipColor;
}

.cpu-sp-register p {
    background-color: $spColor;
}