.editor-error {
    width: 100%;
    @include center;
    background-color: $red;
    opacity: 0;
    position: absolute;
    bottom: -20px;
    padding: 20px 30px;
    transition: 300ms;
    z-index: 5;

    button {
        @include center;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    p {
        color: $primaryText;
        font-size: 14px;
        font-family: SourceCodePro-Regular;
        @include cut-text(3);
    }
}