.editor {
    height: 100%;
    width: 100%;
    min-width: calc(100vw - 2 * 430px);
    @include center(column);
    justify-content: flex-start;
    border-top: 1px solid $borderColor;
    position: relative;

    .editor-pages {
        height: 40px;
        width: 100%;
        @include center;
        gap: 10px;
        justify-content: flex-start;
        flex-shrink: 0;
        background-color: $mainBackground;
        border-bottom: 1px solid $borderColor;
        overflow-x: auto;
        overflow-y: hidden;

        .editor-page {
            height: 30px;
            @include center;
            justify-content: space-between;
            gap: 12px;
            flex-shrink: 0;
            background-color: $primaryBackground;
            border: 1px solid transparent;
            border-radius: 5px;
            opacity: .7;
            padding: 0 8px;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: $tertiaryBackground;

                button {
                    opacity: 1;
                }
            }

            .editor-page-left-group {
                @include center;
                gap: 6px;

                .editor-page-icon {
                    height: 18px;
                    width: 18px;
                    object-fit: contain;
                    flex-shrink: 0;
                }

                .editor-page-name-input {
                    width: 100px;
                    color: $primaryText;
                    font-size: 14px;
                    font-family: Roboto-Regular;
                    background-color: $primaryBackground;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    outline: none;
                    padding: 4px 6px;
                }

                p {
                    max-width: 200px;
                    color: $primaryText;
                    font-size: 14px;
                    font-family: Roboto-Regular;
                    @include cut-text(1);
                    word-break: break-all
                }
            }

            button {
                @include center;
                background-color: transparent;
                border: none;
                opacity: 0;
                transition: 300ms;
                cursor: pointer;

                .editor-page-x-icon {
                    height: 16px;
                    width: 16px;
                    object-fit: contain;
                }
            }
        }

        .editor-active-page {
            background-color: $tertiaryBackground;
            opacity: 1;
            cursor: default;
        }

        .editor-add-button {
            height: 30px;
            width: 30px;
            @include center;
            flex-shrink: 0;
            background-color: $primaryBackground;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: $tertiaryBackground;
            }

            .editor-add-button-icon {
                height: 20px;
                width: 20px;
                object-fit: contain;
            }
        }
    }

    @import "./editor-error";
}

@media screen and (max-width: 900px) {
    .editor-pages {
        @include no-scrollbar;
    }
}