.editor {
    height: 100%;
    width: 100%;
    min-width: calc(100vw - 2 * 430px);
    @include center(column);
    border-top: 1px solid #2F3336;
    position: relative;

    .editor-pages {
        height: 40px;
        width: 100%;
        @include center;
        gap: 10px;
        justify-content: flex-start;
        flex-shrink: 0;
        background-color: black;
        border-bottom: 1px solid #2F3336;
        overflow-x: auto;
        overflow-y: hidden;

        .editor-page {
            height: 30px;
            @include center;
            justify-content: space-between;
            gap: 12px;
            flex-shrink: 0;
            background-color: #0F0F0F;
            border: 1px solid transparent;
            border-radius: 5px;
            opacity: .7;
            padding: 0 8px;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: #2B2A2A;

                button {
                    opacity: 1;
                }
            }

            .editor-page-left-group {
                @include center;
                gap: 6px;

                img {
                    height: 18px;
                    width: 18px;
                    object-fit: contain;
                }

                p {
                    color: #F4F4F4;
                    font-size: 14px;
                    font-family: Roboto-Regular;
                }
            }

            button {
                @include center;
                background-color: transparent;
                border: none;
                opacity: 0;
                transition: 300ms;
                cursor: pointer;

                img {
                    height: 16px;
                    width: 16px;
                    object-fit: contain;
                }
            }
        }

        .editor-active-page {
            background-color: #2B2A2A;
            opacity: 1;
            cursor: default;
        }

        .editor-add-button {
            height: 30px;
            width: 30px;
            @include center;
            flex-shrink: 0;
            background-color: #0F0F0F;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                background-color: #2B2A2A;
            }

            img {
                height: 20px;
                width: 20px;
                object-fit: contain;
            }
        }
    }

    @import "./editor-error";
}